{% extends "admin/base.html" %}

{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} |
{% endif %}{{ title }} |
    {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">
        {{ site_header|default:_('Django administration') }}

        <img src="{% static 'img/panda.jpg' %}"
        height="50px">
    </a>
    </h1>

    <style>

        .module h1, .module caption, .inline-group h1,#header
        {
            margin: 0;
            padding: 5px 7px 3px 5px;
            font-size: 11px;
            text-align: left;
            font-weight: bold;
            background: #102c4a;
            color: #000f0f;
        }

    </style>
{% endblock %}

